<div class="wrapper fadeInDown margin-to-center">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Image -->
    <div class="fadeIn first" style="padding-bottom: 1.5rem;">
      <img src="https://source.unsplash.com/800x600/?fish,cat,dog" width="450" height="304">
      <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
    </div>

    <!-- Login Form -->
    <form autocomplete="off" [formGroup]="profileForm" (ngSubmit)="addUserData()">
      <input formControlName="id" type="text" id="id" class="fadeIn second" name="login"
        placeholder="ID"> 
      <input formControlName="username" type="text" id="username" class="fadeIn second" name="login"
        placeholder="Username">
      <input formControlName="name" type="text" id="name" class="fadeIn third" name="login"
        placeholder="Name">
      <input formControlName="position" type="text" id="position" class="fadeIn second" name="position"
        placeholder="Position" style="padding-bottom: 0.5rem;">
        <!-- <input type="button" (click)="getAllUsers()" class="fadeIn fourth" value="Get All Users"> -->
      <input type="submit" class="fadeIn fourth" value="Submit" [disabled]="!profileForm.valid">

    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <p>
        <!-- Form Status: {{ profileForm.status }} -->
      </p>
      <!-- <a class="underlineHover" href="#">Forgot Password?</a> -->
    </div>

  </div>
</div>